.main {
    display: flex;
    justify-content: center;
    background-color: darkkhaki;
}
div {
    padding: 10px;
}
.seagreen.active {
    color: rgb(46, 139, 87);
}
.lime.active {
    color: rgb(34, 139, 34);
}
.darkgreen.active {
    color: rgb(0, 100, 0);
}